/* General styles */
* {
    border: none;
    border-radius: 10px;
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 10pt;
    min-height: 0;
}

window#waybar {
    background: rgba(9, 16, 47, 1);
    color: #F5F5F5;
    /* border: 1px solid #33CCFF; */
    /* opacity: 0.8; */
}

/* Module styling */
#clock, #battery, #network, #bluetooth, #backlight, #pulseaudio {
    padding: 0 10px;
}

#workspaces button {
    padding: 5px 8px;
    background: transparent;
    color: #F5F5F5;
    border-radius: 8px;
}

#workspaces button.active {
    background: #25294f;
    color: #33CCFF;
    border-bottom: 2px solid #33CCFF;
}

#battery.charging {
    color: #26A65B;
}

#battery.warning {
    color: #E6B85C;
}

#battery.critical {
    color: #E67E80;
}

#network.disconnected {
    color: #E67E80;
}

#pulseaudio.muted {
    color: #E67E80;
}
