configuration {
  modes: [ combi ];
  combi-modes: [ window, drun, run ];
}

//@theme "gruvbox-dark"
 
/* Insert theme modifications after this */

//@theme "/usr/share/rofi/themes/DarkBlue.rasi"

//@theme "/usr/share/rofi/themes/DarkBlue.rasi"

@theme "~/.config/rofi/theme.rasi"
